*{

margin-top:0;
margin-left:0;
margin-right:0;
margin-bottom:0;

}
.one1{
    display:flex;
    gap: 10px;
    justify-content: center; 
    align-items: center; 
    margin-top: 5%;
   
}
.one2{
    display:flex;
    gap: 10px;
    justify-content: center; 
    align-items: center; 
    margin-top: 1%;
   
}

